<STYLE TYPE="text/css">
<!--
input {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    border: 1px solid #ccc;
    font-size: 14pt;
    padding: 5px 10px;
}

input[type=button] {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    border: 1px solid #ccc;
    font-size: 14pt;
    padding: 5px 10px;
}
-->
</STYLE>
<div class="container">
  <div class="row">
    <%= render "left_menu" %>
        
        <div class="span9">
<!-- <div class="well">All about for admin</div><br><br>-->
<div class="row-fluid">
            <div class="span4" align="center">
            <img class="img-round" style="width: 265px; height: 115px;" src="assets/admin/user.png">
              <h3> Users</h3>
              <h4> <p>จัดการข้อมูลผู้ใช้งาน</p></h4>
              <p><a class="btn btn-block btn-large"  href="#">Edit Data</a></p>
            </div><!--/span-->           <div class="span4" align="center">
            <img class="img-round" style="width: 265px; height: 115px;" src="assets/admin/bag.png">
              <h3> Portfolios</h3>
              <h4> <p>จัดการไฟล์รูปภาพและไฟล์ข้อมูล</p></h4>
              <p><a class="btn btn-block btn-large" href="#">Edit Data</a></p>
            </div><!--/span-->
            <div class="span4" align="center">
            <img class="img-round" style="width: 265px; height: 115px;" src="assets/admin/message.png">
              <h3 style="color:#999">Personal Messages</h3>
              <h4> <p>จัดการข้อความ</p></h4>
              <p ><a class="btn btn-block btn-large disabled" href="#">Edit Data</a></p>
            </div><!--/span-->

          </div>
 
        </div><!--/span-->
  </div><!-- class="row"  -->

</div> <!-- /container -->