<div class="row">
    <ul class="nav nav-pills">
      <li <% if @action == "activity"%> class="active" <%end%> > <%= link_to "ข่าวกิจกรรม", news_activity_path %></a></li>
      <li <% if @action == "contest"%> class="active" <%end%> > <%=link_to "ข่าวงานประกวด", news_contest_path %> </a></li>
     <li <% if @action == "job"%> class="active" <%end%> > <%=link_to "ข่าวรับสมัครงาน", news_job_path %> </a></li> 
    </ul>
</div><!-- Row -->
