<div class="container">
	<div class="span1"></div>
		<div class="span10">
			<div class="row">
				<br>
				<div class="center">
					<img src="/assets/help/hello2.png">
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
			<div class="row">	
				<div class="center">
				<br>
				<br>

					<img src="/assets/help/howtouse2.png">
				<br>
				<br>
				</div>
			</div>
		</div>
	<div class="span1"></div>
</div>